@import "tailwindcss";


.bg-chat {
    width: 48rem ;
    height: 10rem;
    
}

.box {
  width: 48.2rem ;
    height: 10.2rem;
  border: 1px solid rgba(03, 03, 03, 0.2);
  background: linear-gradient(#030303) padding-box, linear-gradient(
        var(--angle),
        #191919,
        #E9D362
      ) border-box;
  animation: 10s rotate linear infinite;
  }
  
  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }
  
  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }